*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 500px;
    height: 400px;
    background-image: url(images.jfif);
    background-size: cover;
    position: relative;
    border-radius: 2%;
    opacity: 0.8;
}
.text{
    color: white;
    position: absolute;
    top: 300px;
    margin: 20px;
}
.automotive{
    width: 120px;
    height: 40px;
    /* border: 2px solid red ; */
    background-color: rgb(194, 33, 33);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(227, 221, 221);
    position: absolute;
    margin: 20px;
    text-transform: uppercase;
    top: -20px;
    left: -20px;
}
span{
    color: white;
}
.icon{
    position: absolute;
    right: 40px;
    top: 40px;
    width: 40px;
    height: 40px;
    background-color:red;
    border-radius: 5px;
    display: flex;
    justify-content:center;
    align-items:center;
    color: white;
}
.a{
    position: absolute;
    right: 40px;
    top: 100px;
    width: 40px;
    height: 40px;
    border: 2px solid #e6e2e2;
    border-radius: 5px;
    display: flex;
    justify-content:center;
    align-items:center;
    color: rgb(230, 224, 224); 
}
.dt{
    width: 2px;
    height: 20px;
    background-color: rgb(231, 225, 225);
    position: absolute;
    top: 80px;
    right: 60px;
}